body {
	margin: 0;
}

.approved-app-header div {
	font-weight: 800;
}

.approved-app {
	overflow: auto;
}

.approved-app div{
	float: left;
	width: 33%;
	font-size: 14pt;
}

.approved-app div img {
	width: 30%;
}

.success, .danger {
	cursor: pointer;
}

.ssuccess {
	background: #0f0 !important;
}

.sdanger {
	background: #f00 !important;
}