<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<h2>Approved Apps</h2>
			<hr>
			<div class="approved-app approved-app-header">
				<div class="name">App Name</div>
				<div class="id">App ID</div>
			</div>
			<div class="approved-app" ng-repeat="app in apps">
				<div class="name">{{app.name}}</div>
				<div class="id">{{app.id}}</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<h2>Add New App</h2>
			<hr>
			<div class="form-group">
				<input type="text" class="form-control" id="inputName" placeholder="App name...">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="inputID" placeholder="App ID...">
			</div>
			<div class="form-group">
				<button class="btn btn-block btn-primary">Add App</button>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<h2>Remove App</h2>
			<hr>
			<div class="form-group">
				<select class="form-control" ng-options="app.id as app.name for app in apps" ng-model="create">
					<option value="">Choose app name...</option>
				</select>
			</div>
			<div class="form-group">
				<button class="btn btn-block btn-danger">Remove App</button>
			</div>
		</div>
	</div>
</div>